.chat-space {
    padding: 28px 0 28px 0;
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    border-bottom: 7px solid #23af5d;
}
.chat-box {
    max-width: 460px;
    width: 80%;
    text-align: center;
    color: #4a4a4a;
}
.chat-box img {
    margin-top: 60px;
}
.chat-box .msg {
    opacity: 1;
    transform: translateY(0px);
    display: block;
    margin-top: 28px;
}
.chat-box .msg .title-msg {
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
}
.chat-box .msg .descri-msg {
    margin-top: 18px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    vertical-align: baseline;
    color: rgba(0, 0, 0, 0.45);
    text-rendering: optimizelegibility;

}